<div id="header" class="clearfix">
  <div id="head-logo">菏泽城强logo</div>
  <div id="head-right">
    <a href=# onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.baidu.com');">设为首页</a>
    |
    <a href="javascript:window.external.AddFavorite('http://www.baidu.com','河南羿方实业有限公司');">加入收藏</a>
  </div>
  <div id="head-daohang">
    <ul class="clearfix">
      <li class="<%= params[:action]=='index' ? 'select' : '' -%>">
        <%= link_to '首页', controller: 'home' -%>
      </li>
      <li class="<%= params[:action]=='project' ? 'select' : '' -%>">
        <%= link_to '工程展示',controller: 'home',action: 'project' -%>
      </li>
      <li class="<%= params[:action]=='products' ? 'select' : '' -%>">
        <%= link_to '产品中心',controller: 'home',action: 'products' -%>
      </li>
      <li class="<%= params[:action]=='service' ? 'select' : '' -%>">
        <%= link_to '服务中心', controller: 'home', action: 'service' -%>
      </li>
      <li class="<%= params[:action]=='sales' ? 'select' : '' -%>">
        <%= link_to '销售网络',controller: 'home',action: 'sales' -%>
      </li>
      <li class="<%= params[:action]=='company' ? 'select' : '' -%>">
        <%= link_to '企业文化',controller: 'home',action: 'company' -%>
      </li>
      <li class="<%= params[:action]=='honor' ? 'select' : '' -%>">
        <%= link_to '城强荣誉',controller: 'home',action: 'honor' -%>
      </li>
      <li class="<%= params[:action]=='life' ? 'select' : '' -%>">
        <%= link_to '城强生活',controller: 'home',action: 'life' -%>
      </li>
      <li class="<%= params[:action]=='contact_us' ? 'select' : '' -%>">
        <%= link_to '联系我们', controller: 'home', action: 'contact_us' -%>
      </li>
    </ul>
  </div>
</div>